### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
members = purchase_data["SN"]
members = members.drop_duplicates()
members.head(10)

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
5          Yalae81
6        Itheria73
7      Iskjaskst81
8        Undjask33
9      Chanosian48
Name: SN, dtype: object

In [3]:
total_players = members.count()
total_players_df = pd.DataFrame({"Total players": [total_players]})
total_players_df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_item_count = len(purchase_data["Item ID"].unique())
total_price = purchase_data["Price"].sum()
average_price = purchase_data["Price"].mean()
summary_df = pd.DataFrame({"Unique items": unique_item_count, "Average price": [average_price], 
                           "Total sale": [total_price]})
summary_df["Average price"] = summary_df["Average price"].map("$ {:,.2f}".format)
summary_df["Total sale"] = summary_df["Total sale"].map("$ {:,.2f}".format)

summary_df

   Unique items Average price  Total sale
0           183        $ 3.05  $ 2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_demographics = purchase_data["Gender"].value_counts()
gender_demographics

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [6]:
total_players = purchase_data["Gender"].count()
gender_demographics_percentage = gender_demographics/total_players*100
gender_demographics_percentage

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
purchase_price_average = purchase_data.groupby(["Gender"]).mean()["Price"].map("${:,.2f}".format)
purchase_total = purchase_data.groupby(["Gender"]).sum()["Price"].map("${:,.2f}".format)
purchase_analysis_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                     "Average Purchase": purchase_price_average, "Purchase Total": purchase_total})
purchase_analysis_df.head()

                       Purchase Count Average Purchase Purchase Total
Gender
Female                            113            $3.20        $361.94
Male                              652            $3.02      $1,967.64
Other / Non-Disclosed              15            $3.35         $50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0, 9, 19, 29, 39, 49, 59]
labels = ["<10", "10-20", "20-30", "30-40", "40-50", ">60"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=labels)
purchase_data.head()
age_demography_total = purchase_data["Age Group"].value_counts()
#purchase_data.set_index("Age Group", inplace=True)
age_demography_percent = age_demography_total / total_players *100
age_demographics = pd.DataFrame({"Total count": age_demography_total, 
                                 "Percentage of Players": age_demography_percent})
age_demographics.sort_index()

       Total count  Percentage of Players
<10             23               2.948718
10-20          164              21.025641
20-30          466              59.743590
30-40          114              14.615385
40-50           13               1.666667
>60              0               0.000000

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=labels)
purchase_total = purchase_data.groupby("Age Group").sum()["Price"]
purchase_avg = purchase_data.groupby("Age Group").mean()["Price"]
purchase_count = purchase_data.groupby("Age Group").count()["Price"]
total_per_person = purchase_total / age_demographics["Total count"]
purchase_analysis_df = pd.DataFrame({"Purchase count": purchase_count, "Purchase Price Average": purchase_avg,
                                      "Total Purchase": purchase_total, "Purchase per Person": total_per_person})
purchase_analysis_df["Purchase Price Average"] = purchase_analysis_df["Purchase Price Average"].map("${:.2f}".format)
purchase_analysis_df["Total Purchase"] = purchase_analysis_df["Total Purchase"].map("${:.2f}".format)
purchase_analysis_df["Purchase per Person"] = purchase_analysis_df["Purchase per Person"].map("${:.2f}".format)
purchase_analysis_df.head()

,Purchase count,Purchase Price Average,Total Purchase,Purchase per Person
10-20,164,$3.02,$495.67,$3.02
20-30,466,$3.02,$1407.06,$3.02
30-40,114,$3.17,$361.67,$3.17
40-50,13,$2.94,$38.24,$2.94
<10,23,$3.35,$77.13,$3.35

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
top_spend_grp = purchase_data.groupby(["SN"])
top_purchase_count = top_spend_grp["Price"].count()
avg_purchase_count = top_spend_grp["Price"].mean().map("${:,.2f}".format)
total_purchase_count = top_spend_grp["Price"].sum().map("${:,.2f}".format)
top_spender = pd.DataFrame({"Purchase Count": top_purchase_count, "Average Purchase Price": avg_purchase_count,
                           "Total Purchase Value": total_purchase_count})
top_spender = top_spender.sort_values("Total Purchase Value", ascending=False)
top_spender.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
popular_item = purchase_data.groupby(["Item ID", "Item Name"])
purchase_count = popular_item.count()["Price"]
item_price = popular_item.mean()["Price"]
total_purchase = popular_item.sum()["Price"]
popular_item_df = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price,
                               "Total Purchase Value": total_purchase})
popular_item_df = popular_item_df.sort_values("Purchase Count", ascending=False)
popular_item_df["Total Purchase Value"] = popular_item_df["Total Purchase Value"].map("${:.2f}".format)
popular_item_df["Item Price"] = popular_item_df["Item Price"].map("${:.2f}".format)
popular_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
profitable_item = purchase_data.groupby(["Item ID", "Item Name"])
purchase_count = profitable_item.count()["Price"]
item_price = popular_item.mean()["Price"]
total_purchase = popular_item.sum()["Price"]
most_profitable_item_df = pd.DataFrame({"Purchase Count": purchase_count, "Item Price": item_price,
                               "Total Purchase Value": total_purchase})
most_profitable_item_df = most_profitable_item_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_item_df["Total Purchase Value"] = most_profitable_item_df["Total Purchase Value"].map("${:.2f}".format)
most_profitable_item_df["Item Price"] = most_profitable_item_df["Item Price"].map("${:.2f}".format)
most_profitable_item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80